<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Home</title>

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous" />

<!--css propio-->
<link rel="stylesheet" href="../css/styles.css" />
</head>

<body>
	<header class="cabecera">
		<h1 id="titulo">Libreria</h1>
	</header>

	<div id="menu">
		<nav class="navbar navbar-expand-lg navbar-dark"
			style="background-color: #20bf6b">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/"><strong>Home</strong></a></li>

					<li class="nav-item"><a class="nav-link" href="#"><strong>Libro</strong></a>
					</li>

					<li class="nav-item"><a class="nav-link" href="#"><strong>Autor</strong></a>
					</li>

					<li class="nav-item"><a class="nav-link" href="#"><strong>Editorial</strong></a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<section class="container-home">
		<article class="post">
			<h2>Libro</h2>
			<p>
				<img alt="icon" src="../img/libros.png" width="100%" /> <a
					href="/libro/registro" class="btn btn-success btn-xl rounded-pill mt-5">
					Registrar Libro</a>
			</p>
		</article>

		<article class="post">
			<h2>Autor</h2>
			<p>
				<img alt="icon" src="../img/autor.png" width="100%" /> <a
					href="/autor/registro" class="btn btn-success btn-xl rounded-pill mt-5">
					Registrar Autor</a>
			</p>
		</article>

		<article class="post">
			<h2>Editorial</h2>
			<p>
				<img alt="icon" src="../img/libreria.png" width="100%" /> <a
					href="/editorial/registro" class="btn btn-success btn-xl rounded-pill mt-5">
					Registrar Editorial</a>
			</p>
		</article>
	</section>

	<!--  
	<div>
		Icons made by <a
			href="https://www.flaticon.es/autores/vectorsmarket15"
			title="vectorsmarket15">vectorsmarket15</a> from <a
			href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
	</div>
	<div>
		Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a>
		from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
	</div>
	-->
</body>

</html>